<button class="btn btn-send" (click)="startTesting()">Test</button>
<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
<!-- button to trigger the file upload when submitted -->
<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
  Upload single file
</button>
<div *ngFor="let report of reports, let i = index">
  <alert type="success" dismissible="true"
         *ngIf="report.different.length === 0 && report.missing_from_answer.length === 0 &&
         report.missing_from_template.length === 0">
    <h1>Test {{i + 1}} passed succesfully!</h1>
    <h2>Name of file: {{namesObj[i+1]}}</h2>
  </alert>

  <alert dismissible="true" type="danger" *ngIf="report.different.length > 0 || report.missing_from_answer.length > 0 ||
         report.missing_from_template.length > 0">
    <h1>Test {{i + 1}} does not passed</h1>
    <h2>Name of file: {{namesObj[i+1]}}</h2>
    <div class="different" *ngIf="report.different.length > 0">
      <h3>Template and answer from server have differences in the next properties:</h3>
      <ul>
        <li *ngFor="let difference of report.different">
          {{difference}}
        </li>
      </ul>
    </div>

    <div class="no-in-response" *ngIf="report.missing_from_answer.length > 0">
      <h3>Template has next properties, but response does not have:</h3>
      <ul>
        <li *ngFor="let difference of report.missing_from_answer">
          {{difference}}
        </li>
      </ul>
    </div>

    <div class="no-in-template" *ngIf="report.missing_from_template.length > 0">
      <h3>Response has next properties, but template does not have:</h3>
      <ul>
        <li *ngFor="let difference of report.missing_from_template">
          {{difference}}
        </li>
      </ul>
    </div>
  </alert>

</div>
